@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

body{
font-family: 'Nunito', sans-serif;
}
li{
  list-style: none;
}

footer{
  background-color: #F9F9FB;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  color: #685c5c;
  padding: 20px;
}
footer h5{
  font-size: 17px;
  font-weight: 700;
  line-height: 50px;
  color: black;
  padding-top: 50px;

}
footer a{
  text-decoration: none;
  color: #685c5c;
  display: block;
  text-align: center;
  line-height: 38px;
}
footer .row img{
  margin-bottom: 26px;
}
footer .row .about{
  text-align: center;
}
footer .copyright{
  padding: 50px 0;
  font-size: 15px;
}
footer .socmeds{
  border-top: 0.5px solid #C4C4C4;
  text-align: center;
}
footer .socmeds a{
  display: inline;
  margin: 0 10px;
  font-size: 20px;
  line-height: 83px;
  color: black;
}

@media(min-width: 768px){
  footer{
    font-size: 18px;
  }
  footer h5{
    font-size: 18px;
    text-align: center;
  }
  footer .row{
    padding-top: 76px;
    width: 600px;
    margin: 0 auto;
  }
  footer .row img{
    text-align: left;
  }
  footer .socmeds a{
    margin: 0 17.5px;
    font-size: 24px;
  }
}

@media(min-width: 992px){

  footer{
    position: relative;
    padding: 0 90px;
    text-align: justify;
  }
  footer h5{
    padding-top: 0;
  }
  footer .row{
    width: 100%;
  }
  footer .copyright{
    position: absolute;
    bottom: 23%;
  }
  footer .row .about{
    width: 300px;
    text-align: justify;
  }
  footer .socmeds{
    margin-top: 74px;
  }
}