@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

body{
  font-family: 'Nunito', sans-serif;
}
section{
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper{
  background-color: rgb(0, 0, 0, 0.3);
  width: 100%;
  padding: 30px 20px;
}
.wrapper .back-arrow a{
  color: white;
  font-weight: 700;
  text-decoration: none;
}
.wrapper .back-arrow a .fa-chevron-left{
  font-size: 24px;
}
.wrapper .back-arrow a p{
  font-size: 20px;
  line-height: 24px;
}
.wrapper h1{
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 700;
  color: white;
  padding-top: 40px;
  padding-bottom: 43px;
}
.wrapper form{
  padding-top: 50px;
}
.wrapper form input, .wrapper form button{
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  outline: none;
  color: white;
}
::-webkit-input-placeholder{
  color: white;
}
.wrapper form input{
  font-weight: 700;
  background-color: rgba(227, 190, 198, 0.4);
}
.wrapper form button{
  font-weight: 900;
  background-color: #1572A1;
}
.wrapper .message{
  width: 100%;
  padding-top: 30px;
  text-align: center;
}
.wrapper .message p{
  font-size: 16px;
  font-weight: 900;
  color: white;
}
.wrapper .message p a{
  color: white;
}



@media(min-width: 768px){
    .wrapper{
      padding: 60px 50px;
    }
    .wrapper .back-arrow a .fa-chevron-left{
      font-size: 30px;
    }
    .wrapper .back-arrow a p{
      font-size: 24px;
      line-height: 30px;
    }
    .wrapper h1{
      font-size: 50px;
    }
    .wrapper form{
      width: 450px;
      margin: 0 auto;
      padding-top: 83px;
    }
    .wrapper form input, .wrapper form button{
      font-size: 24px;
      height: 80px;
    }
    .wrapper .message{
      padding-top: 54px;
      width: 550px;
      margin: 0 auto;
    }
    .wrapper .message p{
      font-size: 24px;
    }
    .wrapper .message{
      padding-bottom: 50px;
    }
}

@media(min-width: 992px){
    .wrapper{
      padding: 74px 89px;
    }
    .wrapper h1{
      font-size: 64px;
    }
    .wrapper .message{
      padding-bottom: 66px;
    }
}