.navbar-toggler{
  color: #1572A1;
  border: 1px solid #1572a1
}
.nav-item{
  text-align: center;
}
.nav-item a{
  color: #1572A1;
}
.nav-item a:hover{
  color: black;
}
.active a{
  color:black;
}
nav .collapse ul li{
  margin: 5px 0;
}
nav .collapse ul li .btn{
  color: black;
  background-color: #9AD0EC;
  border: 1px solid #9AD0EC;
  width: 132px;
}
nav .collapse ul li .login{
  background-color: white;
  outline: none;
}
nav .collapse ul li .btn:hover{
  background-color: #1572A1;
  border: 1px solid #1572A1;
}
nav .collapse ul li .login:hover{
  background-color: white;
}
nav .collapse ul li .login:active{
  outline: none;
}

@media(min-width: 992px){
    .header-space{
        height: 60px
    }
    .header-space-two{
      height: 30px;
    }
    nav .collapse ul li{
      margin: 0 15px;
    }
}