@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

li{
    list-style: none;
}
body{
  font-family: 'Nunito', sans-serif;
}

.top-wrapper{
  background-image: url('../images/background-image.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 763px;
}
.top-wrapper .search-section{
  background-color: rgba(227, 190, 198, 0.4);
  text-align: center;
  height: 100%;
}

.top-wrapper .search-section h1{
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  line-height: 80px;
  padding: 65px 0 74px 0;
}
.top-wrapper form h3{
  text-align: left;
  font-size: 22px;
  line-height: 30px;
  padding-bottom: 20px;
}
.top-wrapper form .line{
  border-top: 2px solid black;
  width: 32px;
  padding-bottom: 48px;

}
.top-wrapper .search-section form{
  padding: 10px;
}
/* .top-wrapper input, .top-wrapper select, .top-wrapper button{
  width: 100%;
  height: 52px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 18px;
  margin-bottom: 10px;
  background-color: #EFDAD7;
  padding: 10px;
} */
/* ::-webkit-input-placeholder{
  color: #4A4C53;
} */
.top-wrapper select{
  color: #4A4C53;
}
.top-wrapper button{
  background-color: #9AD0EC;
}
.top-wrapper button:hover{
  background-color: #1572A1;
  color: white;
}


section{
  margin: 0 20px;
  padding-top: 55px;
}
section form{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}
/* section form input{
  width: 100%;
  height: 50px;
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
  padding: 20px 46px;
  outline: none;
} */
section form button{
  right: 21px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 24px;
}
section .popular-section h1{
  font-family: 'Playfair Display', serif;
  line-height: 50px;
  font-size: 36px;
}
.other-vehicles a{
  color: #1572A1;
}
.other-vehicles a:hover{
  color: #9AD0EC;
}
.popular-section .vehicles{
  margin: 55px 0 85px 0;
}
.popular-section .vehicles .popular-vehicle{
  width: 100%;
}
.popular-section .vehicles .popular-vehicle img{
  width: 100%;
  height: 100%;
}
.popular-section .vehicles .location{
  padding-top: 11px;
  bottom: -15px;
  background-color: white;
  width: 120px;
  line-height: 25px;
  font-size: 17px;
  color: black;
  border-radius: 0 6px;
}
.popular-section .vehicles .location h6{
  font-size: 16px;
  font-weight: 600;
}
.popular-section .vehicles .location p{
  font-size: 15px;
}
.popular-section .other-vehicles{
  line-height: 60px;
}
.popular-section .other-vehicles .fa-angle-right{
  padding-left: 11px;
}
.popular-vehicles .notes p{
  padding-top: 23px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #B8BECD;
}

.testimonial-section {
  width: 100%;
  margin-bottom: 60px;
}
.testimonial-section h2{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 59px;
}
.testimonial-section .testimony .star{
  color: orange;
  text-align: center;
  font-size: 20px;
  padding-bottom: 30px;
}
.testimonial-section .testimony{
  width: 230px;
  margin: 0 auto;
  text-align: justify;
}
.testimonial-section .testimony h5{
  font-size: 20px;
}
.testimonial-section .testimony h6{
  text-align: center;
  padding-top: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.testimonial-section .testimony p{
  text-align: center;
  font-size: 18px;
}
.testimonial-section .testimony .message .user-image{
  width: 100%;
}


@media (min-width: 768px){
    .top-wrapper .search-section{
      padding-left: 30px;
    }
    .top-wrapper .search-section h1{
      width: 500px;
      font-size: 64px;
      text-align: left;
    }
    .top-wrapper .search-section form{
      text-align: left;
    }
    .top-wrapper .search-section form h3{
      line-height: 30px;
      text-align: left;
    }
    /* .top-wrapper .search-section form input{
      width: 470px;
      margin-bottom: 35px;
    } */
    .top-wrapper form .selection{
      width: 470px;
      display: flex;
      margin-bottom: 51px;
    }
    .top-wrapper form button{
      width: 180px;
    }
    .top-wrapper form .selection select{
      width: 100%;
    }
    .form-space{
      width:10px;
    }
    
    section{
      margin: 0 40px;
    }
    /* section form input{
      height: 60px;
    } */
    .popular-section .vehicles .popular-vehicle{
      width: 50%;
    }
    .popular-vehicles .notes p{
      font-size: 24px;
      line-height: 50px;
    }
  
    .testimonial-section .testimony{
      width: 500px;
    }
    .testimonial-section .testimony .message{
      width: 100%;
    }
    .testimonial-section .user-testimony, .testimonial-section .user{
      width: 50%;
    }
    .testimonial-section .testimony .star, .testimonial-section .testimony h6, .testimonial-section .testimony p{
      text-align: left;
    }
}

@media (min-width: 992px){
    .top-wrapper .search-section{
      padding-left: 123px;
    }
    .top-wrapper .search-section form h3{
      padding-bottom: 20px;
    }
    
    section{
      margin: 0 123px;
    }
    /* section form input{
      height: 72px;
    } */
    section form button{
      font-size: 30px;
    }
    .popular-section .vehicles .popular-vehicle{
      width:25%;
    }
    .popular-vehicles .title h1{
      font-size: 48px;
    }
  
    .testimonial-section .testimony{
      width: 800px;
    }
    .testimonial-section .testimony .message{
      width: 100%;
    }
    .testimonial-section .user-testimony, .testimonial-section .user{
      width: 40%;
    }
}