.right-container h1{
  color: #1572A1

}
.left-container {
  display: none;
  width: 50%;
  height: 100vh;
  padding: 0;
}
.left-container img{
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.right-container{
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
}
.top-wrapper{
  padding: 0 5%;
}

.login-way{
  width: 100%;
  margin: 0 auto;
}
.login-way .line{
  border: none;
  width: 15%;
  border-bottom: 1px solid black;
  transform: translateY(-50%);
  line-height: 30px;
}

.login-way .way{
  line-height: 60px;
  width: 70%;
}

@media(min-width: 768px){
  .top-wrapper{
    max-width: 500px;
  }
  .login-way .line{
    width:30%;
  }
  .login-way .way{
    width: 40%;
  }
}

@media(min-width: 992px){
  .left-container{
    display: block;
  }
  .right-container{
    width: 50%;
  }
}