.right-container h1{
  font-size: 4vw;
  color: #1572A1

}
.left-container {
  display: none;
  width: 50%;
  height: 100vh;
  padding: 0;
}
.left-container img{
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.right-container{
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
}
.top-wrapper{
  padding: 0 5%;
}

.login-way{
  width: 100%;
  margin: 0 auto;
}
.login-form input{
  width: 100%;
  line-height: 50px;
  padding: 0 10px
}
.login-form button{
  line-height: 50px;
  padding: 0;
}
.login-way .line{
  border: none;
  width: 15%;
  border-bottom: 1px solid black;
  transform: translateY(-50%);
  line-height: 30px;
}

.login-way .way{
  line-height: 60px;
  width: 70%;
}

.login-choices .btn{
  border-radius: 10px;
  width: 100%;
  line-height: 50px;
  padding: 0;
}
.login-choices .loginGoogle{
  box-shadow: 0px 0px 20px rgba(78, 78, 78, 0.4);
}
.login-choices .register{
  background-color: #1572A1;
  color: white;
}

@media(min-width: 768px){
  .top-wrapper{
    padding: 0 10%;
  }
  .login-form input, .login-form button, .login-choices .btn{
    line-height: 60px;
  }
}

@media(min-width: 992px){
  .left-container{
    display: block;
  }
  .right-container{
    width: 50%;
  }
  .login-form input, .login-form button, .login-choices .btn{
    line-height: 70px;
  }
}