.identity-section p{
  color: rgba(0,0,0,0.6)
}
.profile-form input{
  width: 100%;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 1px solid black;
  padding: 0;
}

form .gender-section{
  width: 200px;
  padding: 0;
  margin: 0 auto;
}
.gender-section .gender-selection{
  width: 50%;
}
.gender-selection input{
  opacity: 0;
}
.gender-selection .checkRadio{
  border: 3px solid black;
  width: 25px;
  height: 25px;
}
.gender-selection input:checked ~ .checkRadio{
  background-color: #E3BEC6;
}