h1{
    font-family: 'Playfair Display', serif;
    line-height: 50px;
    font-size: 6vh;
}

.search-section{
    background-image: url(../images/background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.search-background{
    background-color: rgba(227, 190, 198, 0.3);
}
.search-section .container form{
    max-width: 400px;
}
.line{
    border-top: 2px solid black;
    width: 32px;
}
form input{
    background-color: #EFDAD7;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
}
form button{
    width: 100%;
    background-color: #9AD0EC;
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 10px;
}
form button:hover{
    background-color: #1572A1;
    color: white;
}

.vehicles img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vehicles .popular-vehicles .location{
    border-radius: 0 8px 0 0;
}
.user-testimony{
    width: 100%;
    margin: 0 auto;
}
.user-testimony .message, .user-testimony .user{
    max-width: 450px;
    margin: 0 auto;
}

@media(min-width: 768px){
    .search-section .container form{
        max-width: 470px;
    }
    .search-section h1{
        width: 500px;
        font-size: 6vw;
        line-height: 6.5vw;
    }
    form .location-date input{
        width: 50%;
    }
    .location-date .form-space{
        width: 10px;
    }
    .popular-section .other-vehicles{
        line-height: 6.5vw;
    }
    .search-section form button{
        margin-top: 50px;
        width: 180px;
    }
    .user-testimony .message, .user-testimony .user{
        width: 50%;
    }
}