@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

body{
  font-family: 'Nunito', sans-serif;
}
a{
  text-decoration: none;
}

section{
  margin: 50px 20px;
}
.back-arrow a{
  font-size: 24px;
  line-height: 24px;
  color: black;
}
.back-arrow a p{
  align-items: center;
}
.back-arrow a .fa-chevron-left{
  font-size: 24px;
}
.vehicle .vehicle-details .vehicle-image{
  width:100%;
}
.vehicle .vehicle-details .vehicle-image img{
  width: 100%;
}
.vehicle-details .description{
  width: 100%;
}
.vehicle-details .details h2{
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  color: #1572A1;
}
.vehicle-details .details h3{
  font-weight: 400;
  color: #1572A1;
}
.vehicle-details .details h4{
  color: #087E0D;
  font-size: 20px;
  font-weight: 700;
  padding-top: 15px;
}
.vehicle-details .details p{
  color: #9B0A0A;
}
.vehicle-details .details .about{
  padding: 10px 0;
}
.vehicle-details .details .about p{
  line-height: 10px;
  color: #1572A1;
}
.vehicle-details .price{
  right: 0;
  bottom: 0;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 900;
}
.other-images{
  width: 100%;
}
.other-images .these-img{
  width: 50%;
}
.other-images .arrow{
  font-size: 20px;
}
section form input{
  border: none;
  outline: none;
}
.quantity .btn{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #9AD0EC;
  cursor: pointer;
  font-size: 30px;
  font-weight: 900;
  padding: 0;
}
.quantity .btn-minus{
  background-color: rgba(203, 203, 212, 0.2);
}
.quantity input{
  width: 50%;
  font-weight: 900;
  text-align: center;
  font-size: 30px;
}
form .button{
  font-size: 20px;
}
form .button .btn{
  width: 100%;
  background-color: #E3BEC6;
  font-size: 20px;
  color: white;
  border: none;
  font-weight: 700;
  line-height: 55px;
}
form .button .btn:hover{
  background-color: #EFDAD7;
  color: black;
  border: none;
}
form button{
  width: 100%;
  height: 60px;
  background-color: #9AD0EC;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 700;
}
form button:hover{
  background-color: #1572A1;
  color: black;
  border: none;
}
form .btn{
  border-radius: 10px;
}
.button .btn .fa-heart{
  font-size: 30px;
  padding-right: 27px;
}
.button-chat, .submit-button, .button-like{
  width: 100%;
}


@media(min-width: 768px){
  section{
    margin: 50px;
  }
  .back-arrow a{
    font-size: 30px;
    line-height: 36px;
  }
  .back-arrow a .fa-chevron-left{
    font-size: 36px;
  }
  .vehicle-details .city{
    line-height: 18px;
  }
  .vehicle-details .details h2{
    font-size: 36px;
    line-height: 25px;
  }
  .vehicle-details .details h3{
    font-size: 22px;
    padding-top: 11px;
  }
  .vehicle-details .details h4, .vehicle-details .details p{
    font-size: 18px;
  }
  .vehicle-details .details .about p{
    line-height: 11px;
  }
  .vehicle-details .price{
    font-size: 24px;
  }
  .other-images .these-img{
    width: 100%;
  }
  .other-images .arrow{
    font-size: 24px;
  }
  .quantity .btn{
    font-size:40px;
    width: 65px;
    height: 65px;
  }
  .quantity input{
    font-size: 40px;
    height: 65px
  }
  
  form .button{
    width: 100%;
    margin: 0;
  }
  form .button .btn{
    height: 80px;
    font-size: 24px;
    line-height: 60px;
  }
  .submit-button, .button-chat{
    width: 35%;
    padding-right: 10px;
  }
  .button-like{
    width: 30%;
  }
  form .button .chat{
    width: 100%;
  }
  form button{
    width: 100%;
    height: 80px;
    font-size: 24px;
  }
  form .button .like{
    width: 100%;
  }
  .button .btn .fa-heart{
    font-size: 40px;
    padding-right: 27px;
  }
}
@media(min-width: 992px){
    section{
      margin: 57px 123px 102px 123px;
    }
    .back-arrow a{
      font-size:  36px;
    }
    .back-arrow a .fa-chevron-left{
      font-size: 43px;
    }
    .vehicle .vehicle-details .vehicle-image{
      width: 50%;
    }
    .vehicle .vehicle-details .description{
      width: 50%;
    }
    .vehicle-details .details .about p{
      line-height: 14px;
    }
    .other-images .these-img{
      width: 50%;
    }
    .other-images .arrow{
      font-size: 30px;
    }
    .quantity .btn{
      font-size:48px;
      width: 80px;
      height: 80px;
    }
    .quantity input{
      font-size: 48px;
      height: 80px
    }
    .submit-button, .button-chat{
      width: 35%;
      padding-right: 20px;
    }
}
@media(min-width: 1200px){
  .vehicle-details .details h2{
    font-size: 48px;
  }
  .vehicle-details .details h3{
    font-size: 36px;
  }
  .vehicle-details .details h4, .vehicle-details .details p{
    font-size: 24px;
  }
  .vehicle-details .price{
    font-size: 36px;
  }
  .other-images .arrow{
    font-size: 36px;
  }
}

@media(min-width: 1400px){
  .other-images .these-img{
    width: 100%;
  }
}