@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

a{
    text-decoration: none;
}
.dropdown .dropdown-toggle{
    background-color: white;
    border: 1px solid #9AD0EC;
    color: black;
    outline: none;
    width: 100%;
}
.dropdown-menu{
    width: 100%
}
.search{
    width: 100%;
    background-color: rgba(239, 218, 215, 0.3);
    padding: 10px;
    border-radius: 8px;
}
.search input, .search select{
    width: 100%;
    background-color: transparent;
    padding: 0;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
}


@media(min-width: 768px){
    .dropdown .dropdown-toggle{
        width: 50%;
    }
    .dropdown-menu{
        width: 50%
    }
}