@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    margin:0;
    width: 400px;
    cursor: pointer;
}
input[type="date"]::-webkit-datetime-edit {
    display:none;
}

/* input[type="date"] {
  color: transparent;
  text-align: right;
  appearance: none;
  -webkit-appearance: none;
  background: url('/calendar-icon.svg') no-repeat right center;
  background-size: 100%;
  padding-right: 2em;
} */

/* input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
} */