.home-head{
    background-image: url(../images/homepage-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    .overlay{
        background-color: rgba($color: #000000, $alpha: .5);
    }
    .container{
        .row{
            min-height: 645px;
            padding: 20px 0;
            button{
                min-width: 250px;
                min-height: 60px;
                font-weight: bold;
            }
            form{
                max-width: 314px;
            }
        }
    }
}

.info-bar{
    min-height: 200px;
    margin-top: -100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    .icon-wrapper{
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}